@font-face {
  font-family: "Cerebri-Sans-Regular";
  src: url("Cerebri-Sans-Regular.ttf");
}

body {
  margin: 0;
  background-color: #293346;
  display: flex;
  flex-direction: column;
  font-family: "Cerebri-Sans-Regular";

  align-items: center;
}

#gen-txt {
  color: #f7f7ff;
  margin-bottom: 4px;
}
#gen-btn {
  background-color: #49d49d;
  color: #f7f7ff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin: 20px;
}
#gen-btn:hover {
  background-color: #13b172;
}
/*when generate button is clicked change the background color around the password so the element becomes visible*/
#pwd.clicked {
  background-color: #465a7f;
}
#rand-txt {
  color: #49d49d;
  margin: 5px 4px;
}
#slogan-txt {
  color: #dcd8dc;
  margin-top: 5px;
}
#pwd {
  background-color: #293346;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #49d49d;
}
#pwd:hover {
  border: 2px solid #49d49d;
  cursor: pointer;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pwd-length {
  width: 90px;
}

#pwd-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f7f7ff;
}

.checkbox-group {
  color: #f7f7ff;
  margin: 15px;
  display: flex;
  align-items: center;
}

.checkbox-group label {
  margin-left: 15px;
  margin-right: 8px;
}

#alert {
  color: #f7f7ff;
  background-color: none;
  padding: 20px;
  border: 2px solid #49d49d;
  border-radius: 5px;
  width: 300px;
  text-align: center;
  transition: opacity 2s;
  opacity: 75%;
}
